name: CI

on:
  push:
    branches-ignore: []  # Пустой список означает все ветки
  pull_request:
    branches-ignore: []  # Пустой список означает все ветки

jobs:
  test:
    name: Test and Lint
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./back
        
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'
        cache: true
        cache-dependency-path: ./back/go.sum

    - name: Run tests
      run: go test ./... -v -coverprofile=coverage.out

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v4  # Используем v4 action
      with:
        working-directory: ./back
        version: v2.0.2  # Явно указываем версию v2
        args: --timeout=5m